# .gitignore file for WordPress that ignores everything except:
#
# - .gitignore
# - favicon.ico
# - wp-config.php
# - everything in mu-plugins
# - my-plugin
# - my-theme (except for .sass-cache)
#
# based on https://gist.github.com/jdbartlett/444295
/*
!.gitignore
!favicon.ico
wp-config.php
!wp-content
wp-content/*
!wp-content/mu-plugins
!wp-content/themes
!wp-content/uploads
wp-content/plugins/*
wp-content/themes/*
wp-content/themes/*/node_modules/
!wp-content/themes/711
wp-content/themes/711E/node_modules
.sass-cache
