.header {
  position: absolute;
  width: 100%;
  flex: 0 1 auto;
  padding: 2rem;
  z-index: 5;
  font-family: $f-grotesk;
  font-size: 15px;
  transition: ease 0.2s;

  &--sticky {
    position: fixed;
    background: $clr-white;
    padding-block: 0;
    transition: all ease 0.2s;

    .header__logo__logomark {
      opacity: 0;
    }
    .header__logo__logotype {
      opacity: 1;
    }
    .header__nav {
      .header__nav__list {
        .nav__back-to-top {
          display: block;
        }
      }
    }
  }
}

.header__row {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__logomark {
    opacity: 1;
    transition: ease 0.2s;
  }

  &__logotype {
    position: absolute;
    font-family: $f-butler;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: $clr-black-primary;
    opacity: 0;
  }
}

.header__nav {
  margin-left: auto;
  letter-spacing: 0.8px;
  &__list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    li {
      margin-right: 1rem;
      @include respond-min($bp-tablet-wide-min) {
        margin-right: 2rem;
      }
      a {
        font-weight: bold;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  .nav__back-to-top {
    display: none;
    &:after {
      display: inline-block;
      position: relative;
      margin-left: 0.2rem;
      content: url('./../../img/icon-up.svg');

    }
  }
}
