.content {
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  background: $clr-grey-medium;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  &__title {
    align-self: flex-end;
    padding-block-end: 10rem;
    color: $clr-black-secondary;
    font-family: $f-grotesk;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 5px;
    letter-spacing: 15px;
    z-index: 1;
  }
  &__smoke {
    position: absolute;
    // width: 100%;

    img {
      padding-block-start: 4rem;
      // width: 100%;
      height: auto;
    }

    &--1 {
      left: 0;
      bottom: -250px;
    }

    &--2 {
      right: 0;
      bottom: -10px;
    }
  }
}

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  @include respond-min($bp-tablet-wide-min) {
    width: 80%;
    margin-inline: auto;
    // padding-block-start: 2rem;
    // padding-block-end: 2rem;
  }

  &__gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 500px;
    background: linear-gradient(180deg, $clr-grey-light 0%, $clr-white 100%);
  }

  &__images {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-block: 2rem;
    @include respond-min($bp-desktop-min) {
      padding-block-start: 4rem;
    }
  }

  &__image {
    flex: 1 1 auto;
    @include respond-min($bp-tablet-wide-min) {
      flex: 1 1 50%;
    }

    img {
      width: 100%;
      height: auto;
    }
    &:first-of-type {
      padding: 2rem 1rem 0 3rem;
      @include respond-min($bp-tablet-wide-min) {
        padding: 4rem 1rem 0 3rem;
      }
    }
    &:last-of-type {
      padding: 2rem 2rem 0 1rem;
      @include respond-min($bp-tablet-wide-min) {
        padding: 8rem 1rem 0 3rem;
      }
    }
  }
}

.the-building {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 2rem;
  padding-block-start: 2rem;
  overflow: hidden;
  // min-height: 800px;

  @include respond-min($bp-tablet-wide-min) {
    min-height: 1200px;
    // margin-block-start: 10rem;
    // padding-block: 4rem;
  }
  &__title {
    width: 100%;
    margin-inline: auto;
    position: relative;
    z-index: 5;

    h1 {
      padding-inline: 3rem;
      padding-block-end: 2rem;
    }
    @include respond-min($bp-tablet-wide-min) {
      padding-block-start: 6em;

      width: 70%;
      h1 {
        padding-inline: 6rem;
        padding-block-end: 6rem;
      }
    }
  }

  &__copy * {
    position: relative;
    width: 100%;
    // padding-block-end: 2rem;
    line-height: 1.5;
    z-index: 5;

    @include respond-min($bp-tablet-wide-min) {
      width: 40%;
      padding-inline: 2rem;
      padding-block-start: 2rem;

      margin-inline: auto;
    }
    &:first-child {
      &:before {
        position: absolute;
        top: -65px;
        left: 0;
        font-family: $f-butler;
        font-size: 120px;
        opacity: 10%;
        content: 'W';
      }
    }
  }

  &__images {
    width: 100%;
    .the-building__image {
      display: none;
      position: absolute;
      top: 0;
      // z-index: -1;
      @include respond-min($bp-tablet-wide-min) {
        display: block;
      }
      &--1 {
        left: 0;

        img {
          width: auto;
          height: 100%;
        }
      }

      &--2 {
        top: 150px;
        right: 0;

        // @include respond-min($bp-tablet-wide-min) {
        //   right: -30px;
        // }

        // @include respond-min($bp-desktop-min) {
        //   right: -45px;

        // }
        img {
          width: auto;
          height: 100%;
        }
      }
    }

    .building-smoke-1 {
      position: absolute;
      bottom: 200px;
      left: -50px;
    }
    .clock-smoke-1 {
      position: absolute;
      right: -640px;
      top: 200px;
    }
  }
}

.location {
  padding: 2rem;
  @include respond-min($bp-desktop-min) {
    padding-inline: 5rem;
    padding-block-start: 4rem;
  }
  &__copy {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__intro {
      flex: 0 1 auto;
      padding-block-end: 2rem;
      @include respond-min($bp-desktop-min) {
        flex: 1 1 60%;
        padding-inline-end: 4rem;
        padding-block-end: 0;
      }
    }
    &__description {
      flex: 0 1 auto;
      font-size: 1.25rem;
      line-height: 1.3;
      padding-block-end: 2rem;

      @include respond-min($bp-desktop-min) {
        flex: 1 1 40%;
        padding-block-end: 0;
      }
    }
  }

  &__map {
    position: relative;
    width: 100%;
    @include respond-min($bp-desktop-min) {
      padding-block: 4rem;
    }
    &__map-image {
      img {
        width: 100%;
        height: auto;
      }
    }
    &__over-image {
      position: absolute;
      display: none;
      @include respond-min($bp-tablet-wide-min) {
        display: block;
      }
      img {
        width: 100%;
        height: auto;
      }
      &--1 {
        width: 150px;
        bottom: 0;
        left: -50px;
        @include respond-min($bp-desktop-min) {
          width: 220px;
        }
      }
      &--2 {
        width: 150px;
        right: -32px;
        top: -10%;
        @include respond-min($bp-desktop-min) {
          width: 250px;
          right: -80px;
        }
      }
    }
  }
}

.contact {
  position: relative;
  margin-block-end: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // padding-inline: 2rem;
  // padding-block-start: 10rem;
  @include respond-min($bp-tablet-wide-min) {
    min-height: 1200px;
    padding-block-start: 10rem;
  }

  &__title {
    width: 80%;
    margin-inline: auto;

    text-align: center;
    // padding-block-start: 4rem;
    // padding-block-end: 2rem;
    z-index: 10;
    @include respond-min($bp-tablet-wide-min) {
      width: 50%;
      margin-inline: auto;
      padding-block-end: 2rem;
    }
    // @include respond-min($bp-desktop-min) {
    //   width: 50%;
    // }
  }
  &__office__location {
    padding-block-start: 2rem;
    text-align: center;
    width: 75%;
    margin-inline: auto;
    &:last-of-type {
      padding-block-end: 2rem;
    }
    p {
      font-family: $f-grotesk;
      font-weight: bold;
      letter-spacing: 2px;
    }
    &__details {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__office__details {
    padding-block: 1rem;
    padding-inline: 1rem;
    @include respond-min($bp-tablet-wide-min) {
      padding: 2rem;
    }
    ul {
      line-height: 1.5;
      li {
        .mail {
          text-decoration: underline;
        }
      }
    }
  }
}

.img-prlx {
  position: absolute;
}

.img-right,
.img-left {
  display: none;
  @include respond-min($bp-tablet-wide-min) {
    display: block;
  }
}

.img-left {
  left: 0;
}

.img-right {
  right: 0;
}

.contact-img-left-bottom {
  bottom: 300px;
  z-index: -1;
}

.contact-img-left-top {
  bottom: -1280px;
  z-index: -1;
}

.contact-img-right-bottom {
  bottom: 350px;
  z-index: -1;
}

.contact-img-right-top {
  bottom: -1200px;
  z-index: -1;
}
