/*
  FONTS
*/

// Default font stacks
$f-arial: Arial, sans-serif;
$f-helvetica: 'Helvetica Neue', Helvetica, $f-arial;

// @import url("https://p.typekit.net/p.css?s=1&k=kmv6ujx&ht=tk&f=15528.15530.17252.45692.45693.45694&a=267839&app=typekit&e=css");

$f-europa: 'europa', sans-serif;
$f-new-spirit: 'new-spirit', serif;