/*
  FONTS
*/

@font-face {
    font-family: 'Butler Stencil';
    src: url('../../fonts/ButlerStencil.woff2') format('woff2'),
        url('../../fonts/ButlerStencil.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// custom fonts

$f-butler: 'Butler Stencil', serif;
$f-poppins: 'Poppins', sans-serif;
$f-grotesk: 'aktiv-grotesk-extended', sans-serif;